/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Qwitcher+Grypen:wght@400;700&display=swap');

/* Reset default margin, padding, and border for all elements */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Set margin and font styles for the entire body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Fruktur', sans-serif;
    background-image: url("../images/background.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    flex: 1 0 auto;
    margin-top: 8rem;
}

/* Typography */

/* Styling for the logo text */
#logo-font {
    font-family: 'Fruktur', sans-serif;
    font-size: 48px;
    color: #48677C;
    padding-left: 40px;
}

/* Styling for the slogan text */
#slogan-font {
    font-family: "Qwitcher Grypen", sans-serif;
    font-size: 30px;
    color: #48677C;
}

/* Styles for the container displaying a random quote */


/* Styles for the Word text */

.random-word-container {
    text-align: center;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #D1CBB8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
}

.random-word-container h1 {
    font-size: 36px;
}



.random-word {
    font-family: "Fruktur", sans-serif;
    font-size: 28px;
    line-height: 1.6;
    color: #48677c;
    font-style: italic;
}

/* General button style */
.btn {
    border: none;
    font-family: 'Fruktur', sans-serif;
    color: inherit;
    background: none;
    cursor: hand;
    padding: 25px 60px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: auto;
    height: auto;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button Rules */

.btn-rules, .btn-startgame {
    font-size: 30px;
}
.btn-rules {
    background: #6E3953;
    color: #fff;
}

.btn-rules:hover {
    background: #6E3953;
    color: #fff;
}

.btn-rules:active {
    background: #99636E;
    top: 2px;
}


/* Button Start the Game */
.btn-startgame{
    background: #48677C;
    color: #fff;
}

.btn-startgame:hover {
    background: #48677C;
    color: #fff;
}

.btn-startgame:active {
    background: #87A09D;
    top: 2px;
}

.btn-startgame:before {
    position: absolute;
    height: 50%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 100px;
    width: 60px;
}

/*Styling for rules page*/

    .open-book {
        display: flex;
        padding: 20px;
        width: 80%;
        max-width: 900px;
        height: 600px;
        background: #D1CBB8;
        border: 2px solid #ccc;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        perspective: 1000px;
        margin: auto; 
    
}

/* Book pages */

    .book-page {
        width: 50%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background: #faf5eb;
        border-right: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
       }


/* Ensure text fits well */
h2, h3 {
    margin-top: 0;
}

/* Specific styles for left and right pages */
.left-page {
    transform: rotateY(-2deg);
}

.right-page {
    transform: rotateY(2deg);
    border-right: none;
}


.open-book::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 100%;
    background: #D1CBB8;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Game Page*/
/* Title section*/


.main-container{
    text-align: center;
    margin:auto;
    padding: 2rem;
    background-color: #D1CBB8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
}


#lives i {
    font-size: 1.5rem;
    color: #6e3953;
    margin-right: 5px;
}

.title-container h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#score {
    font-size: 1.25rem;
    color: #6e3953;
}



/* Styles for end-game and back to home buttons*/

.btn-nextword,
.btn-backtohome{
 margin: 10px;
 background-color: #6E3953;
 color: #ffffff;
 padding: 10px;
 font-size: 1em;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.btn-nextword:hover,
.btn-backtohome:hover {
  background-color: #99636E; 
}

/* Custom styles for the 'Next Word' button */
.swal2-confirm.btn-next {
    background-color: #6E3953;
    color: white;
    border: none;
}

/* Custom styles for the 'Try Again' button */
.swal2-confirm.btn-try-again {
    background-color: #99636E; 
    color: white;
    border: none;
}

.swal2-confirm {
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 5px;
}

.confirm-btn{
    background-color: #6E3953;
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

confirm-btn:hover {
    background-color: #99636E; 
}

.cancel-btn{
    background-color: #6E3953;
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
cancel-btn:hover {
    background-color: #99636E; 
}


/* Hint section */
#hint {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Word blanks */
#word-blanks {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.blank {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 5px;
    border-bottom: 2px solid #333;
    width: 30px;
    text-align: center;
    color: #333;
}

/* Keyboard buttons */
#keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.keyboard-container button {
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #48677C;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.keyboard-container  button:hover {
    background-color: #87A09D;
}

keyboardbutton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Score and lives */
#score,
#lives {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

/*End of Game styling*/

.end-game-container {
    text-align: center;
    background-image:url("../images/endgame.webp");
    background-position: center;
    background-size: cover;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
}

#end-game {
text-align: center;
padding: 20px;
border-radius: 10px;
background-color: #D1CBB8;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Title styles */
.h2-end {
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0;
}

/* Final score styling */
#score-display-end {
    margin: 20px 0;
}

.score-end {
    font-size: 1.5rem;
    margin: 0;
}

.your-score-end {
    font-size: 3rem;
    color: #191710; 
}

/* Personalised message styling */
#personalised-message {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 0;
    color: #333; /* Lighter text color */
}

/* Button styling */
.buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    background: #87A09D;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.buttons .btn:hover {
    background: #48677c;
    transform: scale(1.1); 
}


/*Footer styling*/
footer{
    background-color: White;
    border-bottom: 1px solid #a68370;
    margin: 0;
    padding: 0;
    border-radius: 5px;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:WHITE;
    height: 25px;
    margin: 5PX;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  .footer-container a {
    color: #48677C;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .footer-container ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  .copyright {
    padding: 10px 0;
    text-align: center;
    color: #48677C;
    background-color:white;
    border-radius: 5px;
  }
  
  .footer-container a:hover,
  .footer-container a:focus {
      color: #87A09D; 
      text-decoration: underline;
  }





/* Media queries for different screen sizes */
@media (max-width: 768px) {
 
      
.main-container {
        padding: 1.5rem; 
        width: 95%; 
    }


#slogan-font {
    font-size: 1.0rem;
    display: block;
}

/* Adjust navbar toggler button */
.navbar-toggler {
    margin-left: auto;
}

.open-book {
    flex-direction: column; 
    height: auto; 
    width: 90%; 
}

.book-page {
    width: 100%;
    height: auto; 
    padding: 15px; 
    box-shadow: none; 
    border-right: none; 
    border-bottom: 1px solid #ddd; 
    overflow-y: auto;
}

.open-book::before {
    display: none; 
}
}
/* media queries for max-width:480px */

@media (max-width: 480px) {
    .main-container {
        padding: 1rem; 
        width: 100%; 
    }


/* Footer */
.footer-container ul {
    gap: 20px;
  }

  .footer-container a {
    font-size: 1.2rem; 
  }

  .copyright p {
    font-size: 0.9rem;
  }
}

/* For mobile devices (portrait mode) */
@media (max-width: 576px) {
    /* Make sure the navbar items stack vertically */
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav .nav-item {
        padding: 5px 0;
    }

    /* Adjust the logo */
    #logo-font h1 {
        font-size: 1.5rem;
    }

    /* Make the slogan smaller */
    #slogan-font {
        font-size: 0.9rem;
    }

    /* Increase the scrollable height */
    .book-page {
        padding: 10px;
        max-height: 450px; 
        overflow-y: auto;
    }

    /* Increase space for offcanvas items */
    .offcanvas-body {
        padding: 10px;
    }
}

/* Tablet and small laptop (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Footer */
.footer-container ul {
    gap: 80px;
  }
  
  .footer-container a {
    font-size: 2rem;
  }
  
  .copyright p {
    font-size: 1.3rem;
  }
  
  }

  /* Larger Screens (min-width: 1200px) */
@media (min-width: 1200px) {
  /* Footer */
  .footer-container ul {
    gap: 80px;
  }

  .footer-container a {
    font-size: 2rem;
  }

  .copyright p {
    font-size: 1.3rem;
  }
}