/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Qwitcher+Grypen:wght@400;700&display=swap');

/* Reset default margin, padding, and border for all elements */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Set margin and font styles for the entire body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Fruktur', sans-serif;
    background-image: url("../images/background.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    flex: 1 0 auto;
    margin-top: 8rem;
}

/* Typography */

/* Styling for the logo text */
#logo-font {
    font-family: 'Fruktur', sans-serif;
    font-size: 48px;
    color: #48677C;
    padding-left: 40px;
}

/* Styling for the slogan text */
#slogan-font {
    font-family: "Qwitcher Grypen", sans-serif;
    font-size: 30px;
    color: #48677C;
}









/* Footer */
.social-icons a {
    color: #495057;
    margin-right: 15px;
}

.social-icons a .fab {
    font-size: 2em;
    vertical-align: middle;
}

.social-icons a:hover {
    color: #007bff;
}

/* Index page */

/* Styles for the font size control icons */
.font-icon {
    font-size: 30px;
    color: #333;
    margin: 0 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
